<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nobel.topliftcrm"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/toplift_crm_logo"
        android:logo="@drawable/toplift_ab_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.blueapptheme" >
        <activity
            android:name="org.nobel.topliftcrm.activities.LoginActivity"
            android:label="@string/title_activity_home"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.contacts.ContactListActivity"
            android:label="@string/title_activity_contact_list" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.contacts.ContactDetailActivity"
            android:label="@string/title_activity_contact_detail" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.ActivityListActivity"
            android:label="@string/title_activity_activity_list" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.contacts.ContactEditActivity"
            android:label="@string/title_activity_contact_edit" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.tasks.TaskListActivity"
            android:label="@string/title_activity_task_list" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.tasks.TaskDetailActivity"
            android:label="@string/title_activity_task_detail" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.deals.DealListActivity"
            android:label="@string/title_activity_deal_list" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.deals.DealDetailActivity"
            android:label="@string/title_activity_deal_detail" >
        </activity>
        <activity
            android:name="org.nobel.topliftcrm.activities.cases.CaseListActivity"
            android:label="@string/title_activity_case_list" >
        </activity>    
        <activity
            android:name="org.nobel.topliftcrm.activities.cases.CaseDetailActivity"
            android:label="@string/title_activity_case_detail" >
        </activity>         
        <activity
            android:name="org.nobel.topliftcrm.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>